@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,fieldset,legend,figure,menu{margin:0;padding:0;border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
table,th,td{border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
input,textarea,select,button{margin:0;padding:0;border-radius:0;font:normal 12px/1.2 "Nanum Gothic",sans-serif;outline:0;vertical-align:middle}
a,a:link,a:visited,a:hover,a:active{text-decoration:none}
a,button,input[type="submit"],input[type="button"],input[type="reset"]{border:0;background:transparent;cursor:pointer}
img{border:0;vertical-align:top}
body{font:normal 12px/1.2 "Nanum Gothic",sans-serif}

/* 공통 */
.clearfix::after{display:block;content:"";clear:both}

header {
    height: 100px;
    width:1000px; 
    margin: auto ;
}
header .logo{
    margin: 33px 10px 10px 10px;
    color: #000000;
    font-size: 20px;
    float: left; 
   
}
header .menu{
    float: left;
    padding: 0px 300px 3px 0px;
    }
.menu li{
   
    float: left; /*메뉴 가로모양*/
    font-size: 15px;
    margin: 0 0 0 30px
}
.menu li a{
    display: block;
    line-height: 70px;
    padding: 10px;
    color: black;
}
.visual{
    position: relative;
    height: 300px;
    margin: auto ;
    background: #b1b1b1;
    border-bottom: 2px solid #dedede;
    
    
}
.visual .wrap_text{
   position: absolute;
    top: 40%;
    width: 100%;
    margin: 0;
    text-align: center;
    
}
.wrap_text p{
    font-size: 30px;
    color: white;
}
.wrap_text h2{
    font-size: 25px;
    color: white;
}
.title{
    
    width: 1000px;
    margin: auto;
}
.par{
    text-align: center;
    float: left;
    width: 300px;
    height: 100px; 
        -webkit-border-radius:50px/50px;
    margin: 10px;
    background: #aeaee8;    
}
.par_menu1{
    color: white;
    font-size: 20px;
    margin: 40px;
}
.par_menu2{
    color: white;
    font-size: 20px;
    margin: 40px;
}

.layout2{
    width: 1000px;
    margin: auto;
}
.layout2 .item{
    float: left;
    width: 500px;
    height: 500px;
    background: rgb(47, 47, 47);    
}
.layout2 .item2{
    float: left;
    height: 300px;
    background: black;
    width: 500px; 
}



.bottom{
    height: 100px;
    background: rgb(118, 118, 118);
    margin: 40px 0 0 ;
}



.pc_hidden{display: none}
@media all and (max-width:970px){
    .pc_hidden{display: block}
    .m_hidden{display: none}
    header{
        width: 100%;
        height: 100px;
    }
    header .menu{      /*메뉴 안보이게 해줌*/
        display: none;
    }
    .m_menu{
        float: right;
    }
    .m_menu .btn_menu{
       position: relative;
        width: 50px;
        height: 20px;
        top: 32px;
        vertical-align: middle;
        background: #fff;
    }
    .m_menu .btn_menu spen{
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        background: #838383;
        height: 3px;
        
    }
      .m_menu .btn_menu spen::before{
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        background: #838383;
        height: 3px;
        top:7px;
        
    }
      .m_menu .btn_menu spen::after{
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        background: #838383;
        height: 3px;
        top: -7px;     
    }
    
    .visual{
        width: 100%;
    }
    .par{
        width: 50%;
    }
    .layout2{
        width: 100%;
    }
    
    
}



