@charset "utf-8";


.body_container{margin: 40px;}



.profile_me{
    width: 100%;height: 690px;position: relative;background: #dbdbdb;}
.profile_me_inner{
    width: 63%;height: 300px;margin: auto;position: absolute;left: 18.5%;top: 50%;margin-top: -150px;text-align: center;background: #fff;background: rgba(255,255,255,0.8);
}
.profile_me h2 {padding-bottom: 48px;position: relative;font-size: 36px;color: #363636;}
.profile_me h2:after {content: '';display: block;width: 30px;height: 3px;position: absolute;left: 50%;margin-left: -15px;bottom: 25px;background: #444;}
.profile_me p {color: #444;}

